In [15]:
from DOE import Import, Anova
import statsmodels.api as sm
from statsmodels.formula.api import ols
import pandas as pd

In [14]:
n = 5
a = 4
alpha = 0.05

In [16]:
data = Import('example.xlsx', 'Blad1', n, a, alpha)
df, df_melt, names, mean = data.import_df()
df_melt

   index treatment  value  means
0      1         1    1.3   1.14
1      2         1    1.6   1.14
2      3         1    0.5   1.14
3      4         1    1.2   1.14
4      5         1    1.1   1.14
5      1         2    2.2   1.76
6      2         2    2.4   1.76
7      3         2    0.4   1.76
8      4         2    2.0   1.76
9      5         2    1.8   1.76
10     1         3    1.8   1.38
11     2         3    1.7   1.38
12     3         3    0.6   1.38
13     4         3    1.5   1.38
14     5         3    1.3   1.38
15     1         4    3.9   3.56
16     2         4    4.4   3.56
17     3         4    2.0   3.56
18     4         4    4.1   3.56
19     5         4    3.4   3.56

In [21]:
model = ols("value~treatment+index", data=df_melt).fit()
anova = sm.stats.anova_lm(model, typ=2)
anova

           sum_sq    df          F        PR(>F)
treatment  18.044   3.0  75.894848  4.518310e-08
index       6.693   4.0  21.113565  2.318913e-05
Residual    0.951  12.0        NaN           NaN